        /* Carousel sebagai Background */
        .carousel-background {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            z-index: 0; /* Berada di belakang header */
        }

        .carousel-track {
            display: flex;
            transition: transform 0.5s ease;
            height: 100%;
        }

        /* Gaya untuk Gambar di Carousel */
        .carousel img {
            width: 100%;
            height: 100vh;
            object-fit: cover; /* Mengisi seluruh tinggi dan lebar */
            flex-shrink: 0;
        }

        /* Gaya untuk Teks di Tengah Carousel */
        .carousel-text {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 60px;
            font-weight: bold;
            text-align: center;
            z-index: 1;
			color: #fff;
			transition: 0.5s;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Bayangan teks */
        }

		.carousel-text:hover{
			-webkit-text-stroke: 2px #fff;
			color: transparent;
		}

		.exploreButton{
			position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            z-index: 1;
			color: #fff;
			transition: 0.5s;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Bayangan teks */
            text-decoration: none;
			display: inline-block;
			color: #fff;
			border: 2px solid #fff;
			padding: 14px 70px;
			border-radius: 50px;	
		}

		.exploreButton:hover{
			color: white;
			background-color: black;
		}

        /* Konten utama untuk memberi jarak dari header */
        .content {
            padding: 30px;
            text-align: center;
        }

        /* why you should join us */
        #application {
            margin: 5px 0;
        }

        #application h2 {
            font-weight: bold;
            font-size: 24px;
            color: #333;
        }

        #application h1 {
            font-size: 36px;
            font-weight: bold;
            color: #000;
            margin-bottom: 20px;
        }

        .application-cards {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .card {
            background-color: #f7f7f7;
            width: 250px;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: transform 0.3s ease;

        }

        .card:hover {
            transform: translateY(-5px);
        }

        .card img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 15px;
        }

        .card h4 {
            font-weight: bold;
            font-size: 1.2em;
            color: #333;
            margin: 10px 0;
        }

        .card p {
            color: #666;
            font-size: 0.9em;
            margin: 0;
        }

        .content2 {
            padding: 30px;
            text-align: center;
            margin-top: 70px;
        }

        .content2Bg {
            background-image: linear-gradient(#b8d4f8, white);
        	background-repeat: no-repeat;
        	background-size: screen.width 200px;
        	margin-top: 20px;
        }

        /* Heading styling */
        .content2 h1 {
            color: black;
            font-weight: bold;
            text-align: center;
            font-size: 2em;
        }

        /* CarouselVoice styling */
        .carouselvoice {
            display: flex;
            overflow: hidden; /* Hide overflow for smooth animation */
            gap: 20px;
            padding: 20px;
        }

        /* Individual testimonial styling */
        .testimonial {
            flex: 0 0 auto;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            overflow: hidden;
        }

        /* Profile image styling */
        .testimonial img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .testimonial:hover {
            transform: translateY(-5px);
        }

        /* Modal styling */
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            align-items: center;
            justify-content: center;
        }

        .modal-content {
            background: white;
            padding: 20px;
            border-radius: 10px;
            max-width: 400px;
            text-align: center;
            position: relative;
        }

        .modal-content h2 {
            margin: 0;
            font-size: 1.5em;
        }

        .modal-content p {
            margin-top: 10px;
            font-size: 1em;
            color: #555;
        }

        /* Close button */
        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            background: red;
            color: white;
            border: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        .applicationwork-cards {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .cardwork {
          width: 350px;
          padding: 15px;
          text-align: center;
          transition: transform 0.3s ease;
          background-color: transparent; /* Latar belakang putih */
          border: none; /* Menghilangkan garis pada kotak */
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0); /* Tambahan shadow jika ingin sedikit efek kedalaman */
      }


        .cardwork:hover {
            transform: translateY(-5px);
        }

        .cardwork img {
            width: 100px;
            height: 100px;
            height: auto;
            margin-bottom: 15px;
            align-self: center;
        }

        .cardWork h4 {
            font-weight: bold;
            font-size: 1.2em;
            margin: 10px 0;
        }

        .cardwork p {
            font-size: 0.9em;
            margin: 0;
        }

        .content-containerlistwork {
            display: flex;
            align-items: center; /* Vertically center the content */
            padding: 20px; /* Add padding around the containerlistwork */
        }

        .content-containerlistwork img {
            max-width: 100%; /* Ensure the image is responsive */
            height: auto; /* Maintain aspect ratio */
            margin-right: 20px; /* Space between the image and text */
        }

        .descriptionlistwork {
            flex: 1; /* Allow descriptionlistwork to take remaining space */
        }

        .bgDiscover {
        	background-image: linear-gradient(white, #b8d4f8, white);
        }

        .applyButton{
            font-weight: bold;
            text-align: center;
            z-index: 1;
			color: black;
			transition: 0.5s;
            text-decoration: none;
			display: inline-block;
			border: 2px solid black;
			padding: 6px 100px;
			border-radius: 50px;
		}

		.applyButton:hover{
			color: white;
			background-color: black;
		}

		/* together for change */
		[type=radio] {
          display: none;
        }

        #slider {
          height: 35vw;
          width: 100vw;
          position: relative;
          perspective: 1000px;
          transform-style: preserve-3d;
        }

        #slider label {
          margin: auto;
          width: 60%;
          height: 100%;
          border-radius: 4px;
          position: absolute;
          left: 0; right: 0;
          cursor: pointer;
          transition: transform 0.4s ease;
          background-repeat: no-repeat;
        }

        #s1:checked ~ #slide4, #s2:checked ~ #slide5,
        #s3:checked ~ #slide1, #s4:checked ~ #slide2,
        #s5:checked ~ #slide3 {
          box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
          transform: translate3d(-30%,0,-200px);
        }

        #s1:checked ~ #slide5, #s2:checked ~ #slide1,
        #s3:checked ~ #slide2, #s4:checked ~ #slide3,
        #s5:checked ~ #slide4 {
          box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
          transform: translate3d(-15%,0,-100px);
        }

        #s1:checked ~ #slide1, #s2:checked ~ #slide2,
        #s3:checked ~ #slide3, #s4:checked ~ #slide4,
        #s5:checked ~ #slide5 {
          box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
          transform: translate3d(0,0,0);
        }

        #s1:checked ~ #slide2, #s2:checked ~ #slide3,
        #s3:checked ~ #slide4, #s4:checked ~ #slide5,
        #s5:checked ~ #slide1 {
          box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
          transform: translate3d(15%,0,-100px);
        }

        #s1:checked ~ #slide3, #s2:checked ~ #slide4,
        #s3:checked ~ #slide5, #s4:checked ~ #slide1,
        #s5:checked ~ #slide2 {
          box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
          transform: translate3d(30%,0,-200px);
        }

        #slide1 { background-image: url(/assets/charity.jpg); }
        #slide2 { background-image: url(/assets/charity2.jpg); }
        #slide3 { background-image: url(/assets/charity3.jpg); }
        #slide4 { background-image: url(/assets/charity4.jpg); }
        #slide5 { background-image: url(/assets/charity5.jpg); }

		/* modal karir */
		.applyModal {
		    display: none; 
		    position: fixed; 
		    z-index: 1; 
		    padding-top: 100px; 
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    overflow: auto; 
		    background-color: rgba(0,0,0,0.4);
		}

		.applyModal-content {
		    background-color: #fff;
		    margin: auto;
		    padding: 20px;
		    border: 1px solid #888;
		    width: 50%;
		    text-align: center;
		}

		.applyModal-close {
		    color: #aaa;
		    float: right;
		    font-size: 24px;
		    font-weight: bold;
		}

		.applyModal-close:hover,
		.applyModal-close:focus {
		    color: #000;
		    text-decoration: none;
		    cursor: pointer;
		}