@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  transition: all 0.3s ease;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 85px; /* Mengatur jarak atas */
}

/* Header */
.header {
display: flex; /* Menggunakan Flexbox */
align-items: center; /* Menyelaraskan item secara vertikal */
font-weight: 700; /* Bold */
color: #000061;
}

.logo {
margin-right: 5px; /* Jarak antara logo dan teks */
width: 87px; /* Atur lebar logo sesuai kebutuhan */
height: auto; /* Mempertahankan rasio aspek */
}

.vertical-text {
display: flex; /* Menggunakan Flexbox untuk menampilkan teks secara vertikal */
flex-direction: column; /* Mengatur arah flex menjadi kolom */
height: 50px; /* Tinggi container teks disesuaikan dengan tinggi logo */
justify-content: center; /* Menyelaraskan teks di tengah */
color: #000061;
font-size: 17px;
}

.vertical-text span {
line-height: 1.1; /* Mengatur jarak antar baris teks */
margin: 0; /* Menghilangkan margin default */
}

/* Navbar Section */
.navbar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.navbar-nav li.nav-item a {
  color: #000061;
  font-weight: 700; /* Bold */
}

/* Nav links */
.nav-link {
  margin: 0 10px;
  font-size: 18px;
}

/* Warna default untuk link navbar */
.navbar-nav .nav-link {
  color: white; /* Warna teks default */
  transition: color 0.3s ease; /* Animasi perubahan warna */
}

/* Efek hover pada link navbar */
.navbar-nav .nav-link:hover {
  color: #FB0E06; /* Warna saat hover */
  border-bottom: 1px solid #FB0E06;
}

/* Efek active (ketika link diklik) pada link navbar */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus {
  color: #FB0E06; /* Warna saat active atau focus */
}

/* Efek hover pada dropdown item */
.dropdown-menu .dropdown-item:hover {
  background-color: #FB0E06; /* Warna background saat hover */
  color: #0503FE; /* Warna teks saat hover */
}

/* CSS untuk mengatur tampilan dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: white !important; /* Warna teks putih */
  text-align: left;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.7); /* Background hitam dengan opacity 50% */
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: white !important; /* Warna teks putih */
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  transition: color 0.3s ease; /* Animasi perubahan warna */
}

/* Efek hover pada dropdown item */
.dropdown-item:hover,
.navbar.scrolled .dropdown-item:hover {
  color: #FB0E06 !important; /* Warna teks merah saat hover */
  background-color: transparent !important; /* Background tetap transparan */
}

/* Footer Section */
footer {
  background-color: #000061; /* Navy background */
  color: white;
  padding: 1rem 0;
  width: 100%; /* Pastikan footer lebar penuh */
  box-sizing: border-box; /* Pastikan padding tidak memengaruhi lebar */
}

footer h5 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

footer p {
  margin: 0 0 1rem;
}

footer ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer .social-icons a {
  color: white;
  margin-right: 1rem;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer .social-icons a:hover {
  color: #FB0E06; /* Red on hover */
}

footer hr {
  background-color: white;
  height: 1px;
  border: none;
}

footer .copyright {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

footer .col-md-4 p {
  margin-bottom: 0.5rem; /* Sesuaikan nilai ini sesuai kebutuhan */
}

a {
  color: white;
  text-decoration: none;
  }
  
  a:hover {
  color: #FB0E06;
  /* text-decoration: underline; */
  }

@media (max-width: 767.98px) {
    /* Header */
    .header {
    display: flex; /* Menggunakan Flexbox */
    align-items: center; /* Menyelaraskan item secara vertikal */
    font-weight: 700; /* Bold */
    }
    
    .logo {
    margin-right: 5px; /* Jarak antara logo dan teks */
    width: 80px; /* Atur lebar logo sesuai kebutuhan */
    height: auto; /* Mempertahankan rasio aspek */
    }

    .vertical-text {
      font-size: 16px;
    }

    /* Navbar Section */
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 97, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      width: 1.75em; /* Perbesar ukuran ikon */
      height: 1.75em; /* Perbesar ukuran ikon */
    }

    .navbar-toggler {
      border: none !important;
    }

    /* Menu yang muncul saat diklik */
    .navbar-collapse {
      padding-top: 15px;
      padding-left: 10px;
      padding-right: 10px;
      position: fixed;
      top: 0;
      left: -100%; /* Mulai dari luar layar sebelah kiri */
      width: 60%; /* Lebar menu */
      height: 100vh;
      background-color: #ffffff; /* Background navy */
      transition: left 0.3s ease-in-out;
      z-index: 1000;
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5); /* Shadow untuk efek depth */
    }

    /* Menu aktif (muncul) */
    .navbar-collapse.show {
      left: 0; /* Geser ke dalam layar */
    }
    
    /* Footer Section */
    footer h5 {
      font-weight: bold;
      margin-bottom: 0.5rem;
      margin-top: 10px;
    }
}